@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--DarkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  max-width: 600px;
  min-height: 300px;
  background-color: var(--DarkGrayishBlue);
  padding: 1rem;
  padding-bottom: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

.card h2 {
  color: var(--NeonGreen);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
p.advice {
  font-size: 28px;
  line-height: 1.2;
  color:  var(--LightCyan);
}
img {
  max-width: 100%;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  background-color: var(--NeonGreen);
  cursor: pointer;
}
button:hover{
    box-shadow: 0px 1px 10px 5px var(--NeonGreen);
}
button img {
  width: 20px;
  height: 20px;
}
